<h1><%= "Shelter's in your feifdom." %> </h1>

<% @admshelters.each do |shelter| %>
<ul>
<li><%= shelter.name %></li>
</ul>
<%end%>

<h3> Shelters that have pending adoptions.</h3>
<% @pendingadoptions.each do |shelter| %>
<ul>
  <li><%=shelter.name%></li>
</ul>
<%end%>
